# Application
# Note - these apply to the project being run stand-alone
# When running via the Seaglider Basestation extension, the requirements.txt for the project
# should be used.
numpy>=1.26.0,<2
scipy>=1.14.0
gsw==3.6.16
netCDF4>=1.5.8
h5py
