# Application
# Note - these apply to the project being run stand-alone
# When running via the Seaglider Basestation extension, the requirements.txt for the project
# should be used.
numpy==1.26.4
scipy==1.14.1
gsw==3.6.19
netCDF4==1.7.2
xarray==2024.10.0
h5py==3.12.1
pyproj==3.7.0
cmocean==4.0.3
pydantic==2.9.2
